# Assignment information
assignment_title=CSC500 Module 8 Portfolio Project
student_name=Mike Hudson

# Input/output files
pseudocode_file=m8/pseudo.txt
screenshot_directory=m8/screenshots
output_file=m8/module8_portfolio.docx

# Source code
source_code_url=https://github.com/frosmear/csc500/blob/main/m8

git_commit=true
git_commit_message=Package Module 8 portfolio
