# Assignment information
assignment_title=CSC500 Module 6 Portfolio Milestone
student_name=Mike Hudson

# Input/output files
pseudocode_file=m6/pseudocode.md
screenshot_directory=m6
output_file=m6/module6_portfolio.docx

# Source code
source_code_url=https://github.com/frosmear/csc500/blob/main/m6/module6.py
git_commit=true
git_commit_message=Package Module 6 portfolio
