# Assignment information
assignment_title=CSC500 Module 7 Critical Thinking
student_name=Mike Hudson

# Input/output files
pseudocode_file=m7/pseudo.txt
screenshot_directory=m7/screenshots
output_file=m6/module7_portfolio.docx

# Source code
source_code_url=https://github.com/frosmear/csc500/blob/main/m7/module7.py
git_commit=true
git_commit_message=Package Module 7 portfolio
